//naming convention hai ye _variables.scss, means ye partial file hai jise hmko include krna hai kisi dusre folder me thats why '_' is used for.

//colors
$primary:#FE5F1E;
$primary-hover:#b23301;
$secondary:#F8F8F8;
$pure:#fff;
$dark:#232323;
$gray:#ccc;

//Transition between
$smooth:all .3s ease-in-out;